/* -------Global Styles-------- */
body {
    background: rgb(75, 0, 102);
    background: -moz-linear-gradient(180deg, rgba(75, 0, 102, 1) 0%, rgba(178, 97, 21, 1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(75, 0, 102, 1) 0%, rgba(178, 97, 21, 1) 100%);
    background: linear-gradient(180deg, rgba(75, 0, 102, 1) 0%, rgba(178, 97, 21, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4b0066", endColorstr="#b26115", GradientType=1);
    background-position: fixed;
    background-repeat: no-repeat;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: Kavoon, Arial, sans-serif;
}


/* -------NavBar-------- */
.navbar-brand {
    text-shadow: 3px 3px #1b1b1b;
}

.logo-text-mobile {
    font-size: 4rem;
}

.logo-text {
    font-size: 3rem;
}

.navbar-toggler {
    margin-top: 15px;
}



.nav-icon-text {
    font-family: Kavoon, Arial, sans-serif;
    font-size: 1.2rem;
    color: white;
}

.nav-item a {
    color: white;
}

.leader-list {
    margin-left: 20px;
}

.icon-list {
    margin-right: 20px;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.8);
}

.nav-link i:hover,
.nav-link i:active,
.nav-link i:focus,
.nav-link i:active:focus {
    color: #f47d15;
    font-size: 3.2rem;
    text-decoration: none;
}


/* -NavBar Icons- */

.list-icon {
    margin: 0 10px;
}

.nav-icon {
    display: block;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 5px;
    color: white;
}


/* ------Homepage Tiles------ */

.level-tile {
    background: none;
    color: #f47d15;
    width: 150px;
    height: 150px;
    padding: 10px;
    margin: 20px 0;

}

.tile-content {
    background-color: #eaeaea;
    border-radius: 10px;
    width: 150px;
    height: 150px;
    padding: 5%;
    font-size: 2.5rem;
    text-align: center;

}

.tile-content p {
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.level-link {
    color: #f47d15;
}

.level-link:hover,
.level-link:active,
.level-link:focus,
.level-link:active:focus {
    color: #b65501;
    font-size: 2.8rem;
    text-decoration: none;
}

/* ------Media Queries------ */

/* ------------------ Medium Screens */

@media screen and (max-width: 992px) {
    .leader-list {
        margin-left: 0px;
    }

    .nav-icon {
        font-size: 1.4rem;
        margin-right: 10px;
    }
}

/* ------------------ Small Screens */

@media screen and (max-width: 768px) {}

/* ------------------ XS Screens */
@media screen and (max-width: 576px) {}

/* ------------------ XXS Screens */
@media screen and (max-width: 417px) {}

/*-------------------------Min-Width Media Queries */
@media screen and (min-width: 768px) {}

@media screen and (min-width: 993px) {}

@media screen and (min-width: 1200px) {}