/* -------Global Styles-------- */


body {
    background: rgb(75, 0, 102);
    background: -moz-linear-gradient(180deg, rgba(75, 0, 102, 1) 0%, rgba(178, 97, 21, 1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(75, 0, 102, 1) 0%, rgba(178, 97, 21, 1) 100%);
    background: linear-gradient(180deg, rgba(75, 0, 102, 1) 0%, rgba(178, 97, 21, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4b0066", endColorstr="#b26115", GradientType=1);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: Kavoon, Arial, sans-serif;
}

.row {
    margin-left: 0;
    margin-right: 0;
}


/* ------Shadows------ */

.shadow-text {
    text-shadow: 3px 4px 5px rgba(30, 30, 30, 0.7);
}

.shadow-tile {
    box-shadow: 4px 4px 8px rgba(30, 30, 30, 0.6);
}

/* -------NavBar-------- */
.navbar-brand {
    text-shadow: 3px 3px #1b1b1b;
}

.logo-text-mobile {
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-text {
    font-size: 3rem;
}

.nav-icon-text {
    font-family: Kavoon, Arial, sans-serif;
    font-size: 1.2rem;
    color: white;
}

.nav-item a {
    color: white;
}


.icon-list {
    margin-right: 20px;
}

/* BootStrap Overrides */
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 1);
    text-shadow: 3px 3px 3px rgba(30, 30, 30, 0.7);
}


.nav-link i:hover,
.nav-link i:active,
.nav-link i:focus,
.nav-link i:active:focus {
    color: #f47d15;
    font-size: 3.2rem;
    text-decoration: none;
}

.navbar-dark .navbar-toggler {
    color: white;

}

.navbar-toggler {
    border: none;
    margin-top: 0;
}

.navbar-toggler-icon {
    width: 2.3em;
    height: 2.3em;
}

/* -NavBar Icons- */

.list-icon {
    margin: 0 10px;
}

.nav-icon {
    display: block;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 5px;
    color: white;
}

/* ------Modals------ */

.modal-text {
    font-family: "Helvetica Neue",
        Helvetica,
        Arial,
        sans-serif;
}

.btn-navi {
    background: none;
    font-family: Kavoon, Arial, Sans-serif;
    color: #fcfcfc;
}

.btn-close {
    background: #4B0066;
    color: #fcfcfc;
    font-family: Kavoon, Arial, sans-serif;
}

/* ------Homepage Tiles------ */
.progress-container {
    margin-top: 50px;
}

.progress-tile {
    background: none;
    color: #4b0066;
    width: 150px;
    height: 150px;
    padding: 10px;
    margin-bottom: 20px;
}

.tile-content {
    background-color: #eaeaea;
    border-radius: 10px;
    width: 150px;
    height: 150px;
    padding: 5%;
    font-size: 2.5rem;
    text-align: center;
}

.tile-content p {
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.level-link {
    color: #4b0066;
}

.level-link:hover,
.level-link:active,
.level-link:focus,
.level-link:active:focus {
    color: #f47d15;
    font-size: 2.8rem;
    text-decoration: none;
}

/* ------Game Tiles------ */
.level-tile {
    background: none;
    color: #4b0066;
    width: 150px;
    height: 150px;
    padding: 10px;
}

.right-tile,
.left-tile {
    background-color: #eaeaea;
    border-radius: 10px;
    width: 150px;
    height: 150px;
    padding: 5%;
    font-size: 2.5rem;
    text-align: center;
}

.right-tile p,
.left-tile p {
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.right-tile {
    margin-left: 0;
    margin-right: auto;
}

.left-tile {
    margin-left: auto;
}

/* ------Level Content------ */

/* --Game Container -- */
.game-container {
    text-align: center;
}

.memory-game {
    display: grid;
    /* Grid CSS used as bootstrap was having responsive issues - trialled in codepen and worked best though caused some issues with spacing. 
    Amended by using Bootstrap col method in HTML and further styling in CSS*/
    grid-template-columns: repeat(2, 100px);
    grid-template-rows: repeat(2, 100px);
    grid-gap: 10px;
    max-width: 220px;
    margin: 0 auto;
    text-align: center;
}

/* --/game container-- */

/* --Cards--  Initial code found -  https: //www.w3schools.com/howto/howto_css_flip_card.asp - developed using codepen */
.card {
    width: 100px;
    height: 100px;
    perspective: 1000px;
    cursor: pointer;
    border-radius: 15px;
}

.card-back img,
.card-inner,
.card-back {
    border-radius: 15px;
}

.card-inner {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.card-flipped .card-inner {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    border: 1px solid #ccc;
}

.card-back {
    background-color: #fff;
    transform: rotateY(180deg);
}

/* --/cards-- */

/* --Level Content-- */
.level-heading {
    text-align: center;
    color: #f1a906;
    font-size: 3rem;
    margin-bottom: 20px;
}

.level-subheading {
    text-align: left;
    color: #f1a906;
    font-size: 2rem;
}

#timer {
    margin-top: 15px;
    color: white;
}

.level-text-content {
    text-align: left;
    font-size: 1.8rem;
    color: white;
}

.level-text-lg {
    padding-top: 25px;
}

#timer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    font-size: 18px;
}

#timer {
    margin: 0;
}

#best-time {
    display: block;
    text-align: center;
    margin: 10px 0;
    font-size: 1.5rem;
}

#attempts {
    margin-bottom: 0;
}

#reset-button {
    display: block;
    margin: 10px auto;
    padding: 10px 25px;
    font-size: 1.5rem;
    font-family: Kavoon, Arial, sans-serif;
    color: #4b0066;
    /* margin-bottom: 350px; */
}

.level-container {
    height: 100vh;
}

/* --/level content */

/* ------Leaderboard------ */
.player-rank {
    text-align: center;
}

.player-rank i {
    color: #f1a906;
    font-size: 2.2rem;
    margin-right: 7px;
}

#player-1,
#new-high-score {
    margin-bottom: 0;
    margin-top: 5px;
}

.player-container {
    background: white;
    padding: 20px;
    margin: 0px 50px 20px 50px;
    border-radius: 25px;
}

.leaderboard-container {
    height: 100vh;
}

/* -----/Leaderboard----- */

/* ------Media Queries------ */

/* ------------------ Medium Screens */

@media screen and (max-width: 992px) {
    .navbar-brand {
        width: 40%;
    }

    .progress-container {
        margin-top: 10px;
    }

    .nav-icon {
        font-size: 1.4rem;
        margin-right: 10px;
    }

    .level-subheading {
        text-align: center;
        color: #f1a906;
        font-size: 2.3rem;
        margin-bottom: 0;
    }

    .level-text-content {
        text-align: center;
        font-size: 1.8rem;
    }

    .navbar-brand {
        width: 25%;
    }


    .logo-text-mobile {
        padding-left: 50px;
    }

}

/* ------------------ Small Screens */

@media screen and (max-width: 768px) {
    .navbar-brand {
        width: 40%;
    }


}

/* ------------------ XS Screens */
@media screen and (max-width: 576px) {
    .player-container {
        padding: 20px 5px;
        margin: 0px 0px 10px 0px;
        border-radius: 25px;
    }



    .player-name {
        padding: 0;
    }

    #player-1 {
        margin: 0;
    }


}

/* ------------------ XXS Screens */
@media screen and (max-width: 417px) {

    .navbar-brand {
        width: 60%;
    }
}

/*-------------------------Min-Width Media Queries */
@media screen and (min-width: 768px) {


    .nav-brand-mobile {
        padding: 5px 0px;
    }
}

@media screen and (min-width: 993px) {
    #best-time {
        display: block;
        text-align: left;
        margin: 10px 0;
    }

}

@media screen and (min-width: 1200px) {}